[Unit]
Description=Runs ros2 exec for heartbeat-manager

[Service]
Type=simple
# Restart=always
User=root

Environment="PYTHONPATH=$PYTHONPATH:/home/cameron/workspaces/televideo_2023_24/install/drive/lib/python3.10/site-packages:/home/cameron/workspaces/televideo_2023_24/install/local/lib/python3.10/dist-packages:/opt/ros/humble/lib/python3.10/site-packages:/opt/ros/humble/local/lib/python3.10/dist-packages:/home/cameron/.local/lib/python3.10/site-packages"
Environment="ROS_VERSION=2"
Environment="ROS_PYTHON_VERSION=3"
Environment="LD_LIBRARY_PATH=/opt/ros/humble/opt/rviz_ogre_vendor/lib:/opt/ros/humble/lib/aarch64-linux-gnu:/opt/ros/humble/lib"
Environment="PATH=/home/cameron/.local/bin:/opt/ros/humble/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="ROS_DISTRO=humble"
Environment="AMENT_PREFIX_PATH=/home/cameron/workspaces/televideo_2023_24/install/drive:/opt/ros/humble"

ExecStart=/bin/bash -c 'ros2 launch heartbeat_manager heartbeat_launch.yaml'

[Install]
WantedBy=multi-user.target
